<mat-form-field appearance="outline">
  <mat-label>
    {{ label }}
  </mat-label>

  @if (prefixIcon) {
    <mat-icon matPrefix>
      {{ prefixIcon }}
    </mat-icon>
  }

  <input
    matInput
    [type]="type"
    [placeholder]="placeholder"
    [required]="required"
    [value]="value"
    (input)="handleInput($event)"
    (blur)="handleBlur()"
  />

  @if (hasError('required')) {
    <mat-error> {{ label }} is required </mat-error>
  } @else if (hasError('email')) {
    <mat-error> Enter a valid email address </mat-error>
  } @else if (hasError('minlength')) {
    <mat-error> {{ label }} must be at least 6 characters </mat-error>
  }
</mat-form-field>
